{{#each nicknameModels}}
<li>
	<div class="nickname">{{nickname}}</div>
	<div class="nickname-details">
		<div class="score">Compatibility: {{score}}</div>
	</div>
</li>
{{else}}
<div>Sorry, I can't find any matches!</div>
<small class='subheader'>Maybe it wasn't meant to be.</small>

{{/each}}
