{{#each nicknameModels}}
<li>
	<div class="nickname">{{nickname}}</div>
	<div class="nickname-details">
		<div class="names">{{name1}} + {{name2}}</div>
		<div class="score">Compatibility: {{score}}</div>
	</div>
</li>
{{/each}}
