.footer {
	color: gray;
}

.hidden {
	display: none !important;
}

.top-result {
	font-size: 1.1em;
	font-weight: bold;
}

.nicknames {
	list-style: none;
}

.nicknames .nickname {
	font-weight: bold;
}

.nicknames .names {
	font-size: 0.8rem;
}

.nicknames .nickname-details {
	font-size: 0.8rem;
}

.nicknames li {
	margin-bottom: 0.4rem;
}

.nicknames .score::after {
	content: "%"
}