@media only screen and (max-width: 40em) {
	html {
		font-size: 90%;
	}

	.nicknames {
		font-size: 120%
	}
}

.nicknames {
	margin-top: 1rem;
}

#couple {
	margin-top: 1rem;
}

.header {
	width: 100%;
	max-width: 100%;
	border-right-width: 0;
	border-left-width: 0;
}

.footer {
	color: gray;
	margin-bottom: 0.3rem;
}

.hidden {
	display: none !important;
}

.top-result {
	font-size: 1.1rem;
	font-weight: bold;
}

.nicknames {
	list-style: none;
}

.nicknames .nickname {
	font-weight: bold;
}

.nicknames .names {
	font-size: 0.9rem;
}

.nicknames .nickname-details {
	font-size: 0.9rem;
}

.nicknames li {
	margin-bottom: 0.4rem;
}

.nicknames .score::after {
	content: "%";
}
